<%const array = data.key.split("/")%>
<%const id = array[array.length -1]%>
<h3>Changed your mind?</h3>
<div class="container">
    <div class="align-items-center">
        <form class="form-group" action="/users/results/<%=id%>/edit/<%=review.id%>/?_method=PUT" method="POST">
            <label for="content">Edit your review</label>
            <textarea class="form-control" name="content"></textarea>
            <input type="hidden" name="name" value="<%=review.name%>">
            <input type="hidden" name="bookId" value="<%=id%>">
            <button type="submit" class="btn btn-primary">submit changes</button>
        </form>
    </div>
</div>