<style>
    .container {
        background-color: rgba(255, 254, 224, 0.9) !important;
        border-radius: 10px;
        padding: 20px;
        margin-top: 100px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <h1>We couldn't find what you're looking for!</h1>
    </div>

    <div class="row  justify-content-center">
        <h3>As you can see, we've got a lot of stuff lying around... Try a different search!</h3>
    </div>

    <div class="row  justify-content-center">
        <img src="https://media.gettyimages.com/id/1058408446/photo/heap-of-books-on-floor-in-library.webp?s=612x612&w=gi&k=20&c=hunR_BVEgjQqH3Mj6WH_u4HmfVtf7hqAkj0HnLd5qJk=" width="600px" alt="a stack of books">
    </div>
</div>