<style>
    body{
        background-image: url("https://media.cntraveler.com/photos/5e73966ddf86d5000910707f/master/w_2580%2Cc_limit/George%2520Peabody%2520Library%2520E665TT.jpg");
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
    }
    li {
        display: none;
    }
    .jumbotron{
        background-color: rgba(255,254,224,0.6); 
        margin-top: 100px;
    }
</style>
<!-- JUMBOTRON FOR LANDING PAGE -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, book lover!</h1>
        <p class="lead">BookTalk is an all new social hub for all things literary. Add favorite books and authors to your profile and leave reviews on the books you've read to share your perspective with others!</p>
        <hr class="my-4">
        <p>Sign up or sign in to join the conversation!</p>
        <a class="btn btn-primary btn-lg" href="/users/new" role="button">Create an account</a>
        <a class="btn btn-primary btn-lg" href="/users/login" role="button">Log back in</a>
    </div>
</div>

