<style>
    .container{
        margin-top: 100px
    }
    .form-group{
        width: 100% !important;
    }
    .form-floating{
        width: 33%;
        padding: 20px;
    }
    p{
        background-color: rgba(255, 254, 224,0.7); border-radius: 10px; 
        padding: 20px;
        text-align: center;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="form-floating mb-3">
        <% if (message) { %>
            <p><%= message %></p>
        <%}%>
        <form class="form-group" action="/users/login" method="POST">
            <label for="email">Email:</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" required>

            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="password" required>

            <button class="btn btn-primary" type="submit">Log in</button>
        </form>
    </div>
</div>