<style>
   body{
        background-image: url("https://media.cntraveler.com/photos/5e73966ddf86d5000910707f/master/w_2580%2Cc_limit/George%2520Peabody%2520Library%2520E665TT.jpg");
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
    }
    .container{
        margin-top: 100px
    }
    .form-floating{
        background-color: rgba(255,255,255,0.7); border-radius: 10px; 
        width: 33%;
        padding: 20px;
    }
</style>

<div class="container d-flex justify-content-center">
    <% if (message) { %>
        <p><%= message %></p>
    <%}%>
    <div class="form-floating mb-3">
        <form class="form-group" action="/users/login" method="POST">
            <label for="email">Email:</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" required>

            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="password" required>

            <button class="btn btn-primary" type="submit">Log in</button>
        </form>
    </div>
</div>