<div class="container d-flex justify-content-center">
  <div class="form-group" style="margin-top: 100px;">
    <form action="/users" method="POST">
        <label for="name">Display Name:</label>
        <input class="form-control" id="name" type="text" name="name" placeholder="display name" required>
        <label for="email">Email:</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" required>
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>