<h2>Search books or authors</h2>

<form action="/users/results" method="POST">
    <label for="book">Search books</label>
    <input type="text" name="book" id="book">
    <button type="submit">Accio books!</button>
</form>