<div class="container">
    <div class="form-group">
        <form action="/books/results" method="POST">
            <label for="book">Search Books:</label>
            <input class="form-control" type="text" name="book" id="book">
            <button class="btn btn-primary" type="submit">Accio books!</button>
        </form>
        
        <form action="/authors/results" method="POST">
            <label for="author">Search authors:</label>
            <input class="form-control" type="text" name="author" id="author">
            <button class="btn btn-primary" type="submit">Accio authors!</button>
        </form>
    </div>
</div>
