<style>
    body{
        background-image: url("https://media.cntraveler.com/photos/5e73966ddf86d5000910707f/master/w_2580%2Cc_limit/George%2520Peabody%2520Library%2520E665TT.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
    margin-top: 100px;
    }
    .form-group{
        background-color: rgba(255,255,255,0.7); border-radius: 10px; 
        width: 33%;
        padding: 20px;
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="form-group">
        <form action="/books/results" method="POST">
            <label for="book">Search Books:</label>
            <input class="form-control" type="text" name="book" id="book">
            <button class="btn btn-primary" type="submit">Accio books!</button>
        </form>
        
        <form action="/authors/results" method="POST">
            <label for="author">Search authors:</label>
            <input class="form-control" type="text" name="author" id="author">
            <button class="btn btn-primary" type="submit">Accio authors!</button>
        </form>
    </div>
</div>
